
.about {
  margin-top: 4em;
}

.about h2 {
  text-align: center;
  font-weight: bold;
  line-height: 1;
  margin-top: 1em;
}

.about .code {
  text-align: center;
}

.about ul {
  margin: 1em 0 .5em;
}

.about li {
  padding: 0;
}

.about li > span {
  font-family: $font-secondary;
  font-weight: bold;
}

.about li:last-of-type > span {
    display: inline;
}
